@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(
    to right,
    #a855f7,
    #ec4899,
    #fbbf24,
    #ec4899,
    #a855f7,
    #ec4899,
    #fbbf24
  );
  background-clip: text;
  background-size: 300% 300%;
}
